* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

textarea {
    resize: vertical;
}

html {
    scroll-snap-type: y mandatory;
}

.section {
    height: 100vh;
    scroll-snap-align: start;
    scroll-snap-stop: always;
}

body {
    font-family: sans-serif;
    line-height: 1.6;
    color: #ffffff;
    background-color: #202430;
}

.container {
    max-width: 1024px;
    margin: 0 auto;
    padding: 2rem 1rem;
}

/* Canvas */
canvas {
    display: block;
    vertical-align: bottom;
}

/* Particles.js container */
#particles-js {
    width: 100%;
    height: 100%;
    background-color: #202430;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    position: absolute;
    z-index: -1;
}

/* Headings */
h1, h2, h3 {
    margin-bottom: 1rem;
}

h1 {
    font-size: 5vw; /* Ajusta el tamaño según el ancho de la pantalla */
    font-family: "Pixelify Sans", sans-serif;
    font-weight: 400;
    letter-spacing: 2px;
    padding-bottom: 20px;
    text-shadow: 4px 4px 6px #0008;
}

.typewriter {
    width: 100%; 
    max-width: 800px;
    margin: 0 auto; 
    text-align: center; 
}

.typewriter h1 {
    overflow: hidden;
    border-right: 0.15em solid #F797FC;
    white-space: nowrap;
    margin: 0 auto;
    font-size: 4rem; 
    animation: 
      typing 3.5s steps(40, end),
      blink-caret 0.75s step-end infinite;
}

/* Media query para pantallas pequeñas */
@media (max-width: 768px) {
    .typewriter h1 {
        white-space: normal; 
        font-size: 2.5rem; 
    }
}

/* Media query para pantallas muy pequeñas (por ejemplo, móviles) */
@media (max-width: 480px) {
    .typewriter h1 {
        font-size: 2rem; 
    }
}
/* Typing effect */
@keyframes typing {
    from { width: 0; }
    to { width: 100%; }
}

@keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: #F797FC; }
}

h2 {
    font-size: 4rem;
    text-align: center;
    padding-bottom: 30px;
    text-shadow: 4px 4px 6px #0008;
}

h3 {
    font-size: 1.8rem;
    padding: 30px 30px;
}

/* Header */
header {
    text-align: center;
    margin-bottom: 3rem;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header p {
    color: #9ca3af;
    margin-bottom: 1rem;
    padding: 20px 20px;
    font-size: 2rem;
    text-shadow: 4px 4px 6px #0008;
}

/* Resume Button */
#resume-btn {
    background-color: #202430;
    color: white;
    border-color: #F797FC;
    padding: 1rem 2rem;
    font-size: 2rem;
    cursor: pointer;
    border-radius: 0.5rem;
    transition: 0.3s;
    text-shadow: 4px 4px 6px #0005;
}

#resume-btn:hover {
    transform: scale(1.1);
}

/* Responsive styles */
@media (max-width: 768px) {
    .container {
        padding: 1.5rem;
    }

    h1 {
        /* font-size: 4.0rem; */
        padding-bottom: 10px;
    }

    h2 {
        font-size: 3rem;
        padding-bottom: 20px;
    }

    h3 {
        font-size: 1.5rem;
        padding: 20px 20px;
    }

    header p {
        font-size: 1.5rem;
    }

    #resume-btn {
        padding: 0.8rem 1.5rem;
        font-size: 1.5rem;
    }
}

@media (max-width: 480px) {
    h1 {
        /* font-size: 3.2rem; */
    }

    h2 {
        font-size: 1.7rem;
    }

    h3{
        font-size: 1.5rem;

    }

    header p {
        font-size: 1.2rem;
    }

    #resume-btn {
        font-size: 1.2rem;
        padding: 0.6rem 1rem;
    }
}


/* About section */
#about {
    text-align: center;
    margin-bottom: 3rem;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-shadow: 4px 4px 6px #0008;
}

.about-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-text {
    border: 1px solid #F797FC;
    border-radius: 0.5rem;
    padding: 1rem;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    max-width: 600px; /* Limita el ancho en pantallas grandes */
}

/* Imagen */
.about-image img {
    width: 12rem;
    height: 12rem;
    border-radius: 50%;
    margin-bottom: 1rem;
}

/* Enlaces Sociales */
.social-links {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.social-icon {
    color: #9ca3af;
}

.social-icon:hover {
    color: #ffffff;
}

/* Responsive styles */
@media (max-width: 768px) {
    .about-text {
        font-size: 1.2rem; /* Reduce el tamaño de fuente */
        padding: 0.8rem;
    }

    .about-image img {
        width: 10rem;
        height: 10rem; /* Ajusta el tamaño de la imagen */
    }
}

@media (max-width: 480px) {
    .about-text {
        font-size: 1rem; /* Fuente aún más pequeña en pantallas pequeñas */
        padding: 0.6rem;
    }

    .about-image img {
        width: 8rem;
        height: 8rem; /* Imagen más pequeña en dispositivos pequeños */
    }

    .social-links {
        gap: 0.5rem; /* Reduce el espacio entre iconos sociales */
    }
}


/* Stack section */
#stack {
    text-align: center;
    margin-bottom: 3rem;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.h2-stack {
    border-bottom: 1px solid #fff;
}

.stack-section {
    margin-bottom: 2rem;
}

.stack-grid {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    color: #202430;
}

.stack-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    transition: 0.3s;
}

.stack-item:hover {
    transform: scale(1.2);
    color: #fff;
}

.stack-item img {
    width: 6rem;
    height: 6rem;
    margin-bottom: 0.5rem;
}

/* Responsive styles */
@media (max-width: 768px) {
    .stack-item img {
        width: 5rem; /* Ajusta el tamaño de las imágenes */
        height: 5rem;
    }

    .h2-stack {
        font-size: 2rem; /* Ajusta el tamaño del texto para pantallas medianas */
    }
}

@media (max-width: 480px) {
    .stack-item img {
        width: 4rem; /* Más pequeño para pantallas pequeñas */
        height: 4rem;
    }

    .h2-stack {
        font-size: 1.5rem; /* Ajuste adicional para pantallas pequeñas */
    }

    .stack-grid {
        grid-template-columns: repeat(auto-fill, minmax(60px, 1fr)); /* Cambia el tamaño mínimo de la cuadrícula */
    }
}


/* Contact form */
#contact {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
}

#contactForm {
    width: 100%;
    max-width: 60rem;
    background-color: #1a1e28;
    padding: 2rem;
    border-radius: 0.75rem;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.7), 0 4px 8px rgba(0, 0, 0, 0.5);
    transition: box-shadow 0.3s;
}

#contactForm:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.8), 0 6px 12px rgba(0, 0, 0, 0.6);
}

.form-group {
    margin-bottom: 1.25rem;
}

label {
    display: block;
    margin-bottom: 0.5rem;
    font-size: 0.9rem;
    color: #f0f0f0;
    font-weight: 600;
}

input, select, textarea {
    width: 100%;
    padding: 0.75rem;
    background-color: #2a3343;
    border: 1px solid #3a4458;
    border-radius: 0.375rem;
    color: #ffffff;
    font-size: 0.95rem;
    transition: border-color 0.3s, background-color 0.3s;
}

input:focus, select:focus, textarea:focus {
    border-color: #F797FC;
    background-color: #333b4d;
    outline: none;
}

button[type="submit"] {
    width: 100%;
    background-color: #2c2f3a;
    border: solid 1px #F797FC;
    color: #fff;
    padding: 0.75rem;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    border-radius: 0.375rem;
    transition: background-color 0.3s, transform 0.3s;
}

button[type="submit"]:hover {
    background-color: #3a3e4d;
    transform: scale(1.03);
}

/* Responsive design */
@media (min-width: 768px) {
    .about-content {
        flex-direction: row;
        justify-content: space-between;
    }

    .about-text {
        width: 60%;
        margin-bottom: 0;
        margin-right: 2rem;
    }

    .about-image {
        width: 40%;
    }
}
