@import url("./src/styles/components/header/header.css");

@import url("./src/styles/components/main/main.css");

@import url("./src/styles/components/footer/footer.css");

@import url("./src/styles/shared/hyperlink-button.css");
@import url("./src/styles/shared/icon.css");
@import url("./src/styles/shared/image.css");
@import url("./src/styles/shared/particles.css");
@import url("./src/styles/shared/titles.css");

@import url("./src/styles/animations/typing.css");

:root {
    --padding-uniform: 20px;
    --gap-uniform: 20px;
    --border-radius-uniform: 10px;
    --transition-seconds-uniform: 0.3s;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    color: #ffffff;
    background-color: #202430;
    width: 95%;
    margin: auto;

    h2 {
        padding-top: calc(var(--padding-uniform) * 10);
        padding-bottom: calc(var(--padding-uniform) * 8);
    }
}
