@import url("./src/style-components/header/header.css");
@import url("./src/style-components/header/typewriter.css");

@import url("./src/style-components/main/main.css");
@import url("./src/style-components/main/about.css");
@import url("./src/style-components/main/stack.css");

@import url("./src/style-components/footer/footer.css");
@import url("./src/style-components/footer/form-contact.css");

@import url("./src/style-components/shared/titles.css");
@import url("./src/style-components/shared/hyperlink-button.css");
@import url("./src/style-components/shared/image.css");
@import url("./src/style-components/shared/icon.css");

@import url("./src/style-components/animations/typing.css");

:root {
    --padding-uniform: 20px;
    --gap-uniform: 20px;
    --border-radius-uniform: 10px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    color: #ffffff;
    background-color: #202430;
    width: 95%;
    margin: auto;
}
