.stack__div {
    display: flex;
    flex-direction: column;
    gap: calc(var(--gap-uniform) * 6);

    h3 {
        padding-bottom: calc(var(--padding-uniform) * 3);
    }
}

.stack__div--skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: var(--gap-uniform);

    width: 100%;
    margin: auto;
}


.stack-skill {
    display: flex;
    flex-direction: column;
    gap: var(--gap-uniform);

    span {
        text-align: center;
        color: transparent;
        transition: color 0.3s linear;
    }
}


.stack-skill:hover {
    span {
        text-align: center;
        color: #ffffff;
    }
}
