.formulario{
    background-color: red;
    padding: 30px;
}

.formulario_input{
    padding: 9px 10px;
    width: 90%;
    background-color: black;
    color: red;
    margin: 10px
}

.formulario_submit{
    letter-spacing: 2px;
    text-transform: uppercase;
    background-color: aqua;
    width: 50%;
    color: black;
}

.box1{
    background: red;
    height: 150px;
    width: 100%;
    margin-top:30px; ;
}

.box2{ 
    background-color: red;
    height: 150px;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;


}