@import url("./form-contact.css");


footer {
    section:last-child {
        display: flex;
        justify-content: center;
        gap: calc(var(--gap-uniform) * 2);
        padding: calc(var(--padding-uniform) * 4);

        a {
            text-decoration: none;

            i {
                font-size: 2rem;
                text-decoration: none;
            }
        }
    }
}
