.hyperlink-button--download {
    color: white;
    border: solid 1px #F797FC;
    font-size: 1.5rem;
    background-color: #202430;
    padding: var(--padding-uniform);
    border-radius: var(--border-radius-uniform);
    text-decoration: none;
    transition: filter var(--transition-seconds-uniform) linear;
}

.hyperlink-button--download:hover {
    filter: brightness(1.1);
}
