.image {
    img {
        display: block;
        width: 100%;
        height: 100%;
    }

    user-select: none;
}

.image__img--my-photo {
    width: 380px;
    height: 380px;

    img {

        border-radius: var(--border-radius-uniform) var(--border-radius-uniform) 0 0;

        /*

        background-color: #63748d;  Blue Gray
        background-color: #ffb6c1;  Light Pink
        background-color: #e6e6fa;  Lavender
        background-color: #87ceeb;  Sky Blue
        background-color: #f5f5dc;  Beige
        
        */

        background-color: #ffb6c1;


        object-fit: scale-down;

        mask-image: linear-gradient(#ffffff 20%, transparent);
    }
}



@media (width < 800px) {
    .image__img--my-photo {
        width: 320px;
        height: 320px;
    }
}
