body{
    margin: 0;

}

.box{
    width: 100px;
    height: 100px;
    background: red;
    margin: 10px;
}

.box-default{
    box-sizing: content-box; 
    padding: 25px;
    border: 10px solid black   
}

.box-new{
    box-sizing: content-box;
    padding: 25px;
    border: 10px solid black;
    

}
