* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f3f3f3;
    color: #333;
    text-align: center;
}

.background-container {
    position: relative;
    background-image: url('https://s3.amazonaws.com/lepton-web/ckeditor_assets/pictures/2/content_lepton_empresa.jpg');
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1;
}

/* Sombra negra sobre la imagen */
.background-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 2; 
}

/* Asegurar que el contenido del header y hero quede por encima */
header, .hero {
    position: relative;
    z-index: 3; 
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.logo img {
    width: 80px;
}

nav {
    display: flex;
    gap: 20px;
}

nav a {
    color: #333;
    text-decoration: none;
    font-size: 18px;
    padding: 10px;
}

.inicio {
    background-color: #666;
    color: white;
    border-radius: 10px;
    padding: 10px 20px;
}

.search-icon {
    color: #fff;
}

.inicio:hover {
    background-color: rgba(255, 255, 255, 0.4);
}

.hero {
    padding: 40px 20px;
    margin-bottom: 20px;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #fff;
}

.search-bar {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.search-bar input {
    padding: 15px;
    width: 400px;
    border-radius: 10px 0 0 10px;
    border: 0px solid #ccc; 
    font-size: 18px; 
}

.search-bar button {
    padding: 15px 25px; 
    border-radius: 0 10px 10px 0;
    border: 0px solid #ccc; 
    background-color: #fff;
    color: #666;
}

.social-links {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.social-links a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    background-color: rgba(255, 255, 255, 0.2); 
    border-radius: 10px; 
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    transition: background-color 0.3s ease;
    backdrop-filter: blur(5px); 
}

.social-links a:hover {
    background-color: rgba(255, 255, 255, 0.4);
}

.social-links a i {
    margin-right: 8px; 
}

.social-links .facebook {
    background-color: rgba(59, 89, 152, 0.2); 
}

.social-links .twitter {
    background-color: rgba(29, 161, 242, 0.2); 
}

.help-section {
    background-color: #f3f3f3;
    padding: 40px 20px;
    margin-top: -20px; 
}

h2 {
    font-size: 22px;
    margin-bottom: 20px;
}

.help-options {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    gap: 20px; 
}

.help-card {
    display: flex;
    align-items: center;
    background-color: #f8f8f8;
    padding: 16px;
    gap: 16px;
    border-radius: 10px;
    width: 660px; 
    height: 76px; 
    text-align: left;
    text-decoration: none;
    color: #333;
    box-sizing: border-box; 
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); 
    transition: box-shadow 0.3s ease, transform 0.3s ease; 
}

.help-card:hover {
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2); 
    transform: translateY(-4px); 
}

.help-card .info h3 {
    margin-bottom: 5px;
    font-size: 18px;
}

footer {
    background-color: #f3f3f3 !important;
    padding: 20px !important;
    margin-bottom: 30px !important;
}

footer a {
    display: inline-block;
    margin: 0 10px;
    text-decoration: underline;
    color: #666;
    font-size: 14px;
}

p {
    font-size: 14px; 
    font-weight: 400; 
    color: #4F4F4F; 
    line-height: 1.5; 
    margin: 0; 
    font-family: Arial, sans-serif; 
}

h3 {
    font-size: 17px; 
    font-weight: 600;
    color: #4F4F4F; 
    line-height: 1.5; 
    margin: 0; 
    font-family: Arial, sans-serif; 
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
}

.search-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.search-input {
    width: 100%;
    padding: 15px;
    font-size: 16px;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.05);
}

.card-container {
    display: flex;
    flex-direction: column; 
    gap: 10px; 
}

.card-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.card {
    width: 100%; 
    display: flex;
    align-items: center;
    padding: 15px;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-right: 10px;
}

.card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.icon {
    width: 40px;
    height: 40px;
    background-color: #4052b5;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
    color: #fff;
}

.icon img {
    width: 20px;
    height: 20px;
    filter: brightness(0) invert(1);
}

.content {
    flex-grow: 1;
}

.content h3 {
    margin: 0;
    font-size: 16px;
    color: #333;
    font-weight: 500;
}

.content p {
    margin: 5px 0 0;
    font-size: 13px;
    color: #888;
}

.arrow {
    font-size: 20px;
    color: #ccc;
    margin-left: auto;
}

.formulario-container {
    margin-top: 40px;
    width: 100%;
    margin-bottom: 20px;
}

.card h3 {
    text-align: left;
}

.card p {
    text-align: left;
}

.full-width {
    width: 100%; 
}

.container h2 {
    text-align: left;
}

.close-btn {
    position: fixed; 
    top: 10px;
    right: 20px;
    font-size: 24px;
    cursor: pointer;
    text-decoration: none;
    color: #9da0af;
    border-radius: 8px;
    background: #eeeff1;
    padding: 10px 15px;
}

.close-btn:hover {
    color: red; 
    background-color: #ffcece;
}

a {
    text-decoration: none; 
    color: inherit; 
}

/* Media Queries para Responsividad */
@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: center;
    }

    .logo {
        margin-right: auto; 
    }

    .logo img {
        width: 60px; /* Reduce el tamaño del logo en móviles */
    }

    .search-bar {
        display: flex;
        align-items: stretch; /* Asegura que el botón y la barra de búsqueda tengan la misma altura */
        justify-content: center;
        margin-bottom: 20px;
    }
    
    .search-bar input {
        padding: 15px;
        max-width: 400px;
        border-radius: 10px 0 0 10px;
        border: 0px solid #ccc; 
        font-size: 18px;
        height: auto; /* Ajusta el alto automáticamente */
    }
    
    .search-bar button {
        padding: 0 25px; /* Solo ancho de padding, sin alto */
        border-radius: 0 10px 10px 0;
        border: 0px solid #ccc; 
        background-color: #fff;
        color: #666;
        font-size: 18px; /* Ajusta el tamaño de la fuente si es necesario */
        cursor: pointer;
    }
    
    
    .social-links {
        display: flex;
        justify-content: center;
        gap: 10px;
        margin-top: 20px;
        flex-wrap: nowrap; /* Asegura que los íconos estén en una sola fila */
    }
    
    .social-links a {
        padding: 10px; /* Ajusta el padding para que los íconos no sean demasiado grandes */
        width: auto; /* Quita cualquier ajuste de ancho */
        flex: none; /* Asegura que no se expandan para ocupar todo el ancho */
    }
    
    .help-options {
        flex-direction: column;
        width: 100%;
        align-items: center;
    }

    .help-card {
        width: 90%; /* Reducir el ancho para móviles */
        max-width: 400px;
    }

    .card-container, .card-row {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .card {
        width: 90%;
        max-width: 400px;
        margin-bottom: 10px;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 20px;
    }

    h2 {
        font-size: 18px;
    }

    h3 {
        font-size: 16px;
    }

    p {
        font-size: 12px;
    }

    .hero {
        padding: 20px 10px;
    }

    .help-card {
        padding: 10px;
        font-size: 14px;
    }

    .background-container::before {
        background: rgba(0, 0, 0, 0.6); /* Más oscuro en pantallas pequeñas para mejor contraste */
    }
}
